body {
    width: 100%;
    margin: auto;
    text-align: left;
    background: url('../images/mainbackground.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    color: lightgrey;
}

.container{
	width: 500px;
	height: 100%;
	margin: 0 auto;
        background-color: rgba(45, 63, 81,0.8);
	margin-top: 30px;
}

h1, legend {
    text-align: center;
}

h4, h2 {
    font-family: Helvetica,Arial,AppleGothic,sans-serif; 
}
.error {
    color: red;
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link {
    color: #900000;
}

a:visited {
    color: #900000;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}